

<header>
  <div class="container-fluid">
    <a href="#"class="logo">
    <img id="SpotifyLogo" src="assets/images/headerlogo.png"
     style="width: 12%;">
    </a>
    
    <ul>
      <li><a href="#Top" >Home</a></li>
      <li><a href="#LocalArtists" >Local Artists</a></li>
      <li><a href="#Artists" >Artists</a></li>
      <li><a href="#Playlists" >Playlists</a></li>
      <li><a href="#Albums" >Albums</a></li>
      <li><a href="#Songs">Songs</a></li>
      <li><a href="#Recommended">Recommended</a></li>
    </ul>
    
</div>
</header>
<body>
  <app-search></app-search>
</body>
<footer>
  
</footer>
<router-outlet></router-outlet>
