<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/8230c5ed1f.js"></script>
</head>
<section id="Recommended">
    <br>
<h2>Spotify Recommended Albums and Playlists</h2>

<iframe src="https://open.spotify.com/embed/album/6yuC2058pnlwSqR8rydnzJ"  width="450" height="700" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<iframe src="https://open.spotify.com/embed/album/3HJiLDJgWA9Z0MvCxlzHYQ" width="450" height="700"  frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DWSQScAbo5nGF" width="450" height="700" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<iframe src="https://open.spotify.com/embed/playlist/6XtCYkEkjMTNNq7mIiJnYw" width="450" height="700" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

</section>
<footer>
    <h6>2020 Spotify &copy; All rights reserved.</h6>
    <h5>Back To Top</h5>
   <a href="#Top"><i class="fas fa-arrow-circle-up" ></i></a>
</footer>